/* 상단 */
.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
  transition: all 0.3s;
}
.header-active {
  background-color: #eee;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.header .inner {
  width: 100%;
  max-width: 1600px;
  height: 70px;
  padding: 0 100px;
  margin: 0 auto;
  line-height: 70px;
}
.logo {
}
.logo img {
  width: 100px;
}
.nav {
  float: right;
  height: 100%;
}
.nav i{
  display: none;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  gap: 0 40px;
}
.nav ul li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
}
.nav ul li a {
  font-weight: 600;
  color: #000;
  font-size: 19px;
  transition: color 0.2s;
}
.nav ul li:hover::after {
  opacity: 1;
}
.nav ul li:hover {
  cursor: pointer;
}
.nav ul li:hover a {
  color: #aaaaaa;
}
i{
  opacity: 0;
  position: absolute;
  top: 25px;
  right: 23px;
  font-size: 25px;
}
.nav-mb{
  opacity: 0;
  position: absolute;
  top: 71px;
  right: 0;
  transition: opacity 0.3s ease;
}
.nav-mb ul li{
  display: none;
  background-color: #eee;
  width: 120px;
  line-height: 50px;
  height: 50px;
  text-align: center;
}
.nav-mb ul li a{
  color: #000;
  font-weight: 700;
}
.nav-mb ul li:hover a{
  color: #aaaaaa;
}
@media all and (max-width: 1680px) {
}

@media all and (max-width: 1280px) {
}
@media all and (max-width: 1024px) {
  .header .inner {
    padding: 0 20px;
  }
  .nav ul {
    gap: 0 50px;
  }
  .nav ul li {
    padding: 0;
  }
  .nav ul li a {
    font-size: 15px;
  }
}

/* mobile */

@media all and (max-width: 768px) {
  .nav{
    display: none;
  }
  .nav-mb ul li{
    display: block;
  }
  i{
    opacity: 1;
    cursor: pointer;
  }
  .header .inner {
    padding: 0 20px;
  }
  .logo img {
    width: 80px;
  }
  .nav ul {
    gap: 0 30px;
  }
  .nav ul li a {
    font-size: 12px;
  }
  .nav-mb ul li a{
    color: #eee;
    font-weight: 500;
  }
  .nav-mb ul li:hover a{
    color: #000;
    font-weight: 700;
  }
  .nav-mb ul li{
    background-color: rgba(0,0,0,0.3);
  }
}
@media all and (max-width: 540px) {
  .nav{
    display: none;
  }
  .header .inner {
    padding: 0 20px;
  }
  .logo img {
    width: 80px;
  }
  .nav ul {
    gap: 0 30px;
  }
  .nav ul li a {
    font-size: 11px;
  }
}
@media all and (max-width: 480px) {
  .header .inner {
    padding: 0 20px;
  }
  .logo img {
    width: 80px;
  }
  .nav ul {
    gap: 0 30px;
  }
  .nav ul li a {
    font-size: 11px;
  }
}
