@charset "utf-8";
.loader-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; /* 배경색 및 투명도 설정 */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* 다른 요소 위에 표시 */
}

.loader {
	color: dodgerblue;
	font-size: 2.5em;
    font-weight: bold;
	font-family: sans-serif;
	text-transform: uppercase;
	width: 40em;
	height: 3em;
	animation: change-color 10s linear infinite;
}

.loader span {

	animation: moving 2s linear infinite;
	animation-delay: calc((var(--n) - 6) * 0.2s);
	position: absolute;
	height: 3em;
}

@keyframes change-color {
	to {
		filter: hue-rotate(1turn);
	}
}

@keyframes moving {
	0% {
		filter: opacity(0);
		transform: rotate(-180deg);
		left: 100%;
	}

	33% {
		filter: opacity(1);
		transform: rotate(0deg);
		left: 60%;
	}

	66% {
		filter: opacity(1);
		transform: rotate(0deg);
		left: 40%;
	}

	100% {
		filter: opacity(0);
		transform: rotate(180deg);
		left: 0;
	}
}

.loader span:nth-child(1) {
	--n: 1;
}

.loader span:nth-child(2) {
	--n: 2;
}

.loader span:nth-child(3) {
	--n: 3;
}

.loader span:nth-child(4) {
	--n: 4;
}

.loader span:nth-child(5) {
	--n: 5;
}

.loader span:nth-child(6) {
	--n: 6;
}

.loader span:nth-child(7) {
	--n: 7;
}
